################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ClackyClicky/FileContentIndex
/ClackyClicky/bin/Release/net7.0-windows
/ClackyClicky/obj/Release/net7.0-windows
