################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/ClackyClicky/bin
/ClackyClicky/obj
/ClackyClicky/obj/Debug/net7.0-windows/ref/ClackyClicky.dll
